body {
	font-family: 'Poppins';
	font-size: 12px;
	overflow-x: hidden;
}

.col-2,.col-10{
	margin-top: 15px;
}


.bg-login {
	position: relative;
	z-index: 1;
}

.bg-login::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: -1;
}

.form-row{
	display: flex;
	justify-content: center;
}
.form{
	margin-top: 100px;
	margin-bottom: 100px;
	width: 18%;
	padding: 40px 0px;
	background: linear-gradient(to bottom, #ca95a182, #75c0e27d);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 8px 0.5px #867cab82;
}

.login-label{
	display: flex;
	font-weight: 600;
	color: #434040;
	margin-bottom: 2px;
}

.login-input {
	margin-bottom: 20px;
	border-radius: 5px;
	border: 0px;
	padding: 10px;
	background: #ffffff57;
	transition: background 0.3s, border 0.3s, color 0.3s; 
}

.login-input:focus {
	background: #ffffff;
	border: 1px solid #ffffff;
	color: #000000;
	outline: none;
}

.login-password {
	display: flex;
	justify-content: right;
	margin-top: -20px;
	margin-bottom: 20px;
	font-weight: 500;
	color: #4e4d4d;
}

.login-button{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid #0a6058ed;
	border-radius: 5px;
	background: #0a6058ed;
	color: #e1dbdb;
	transition: background-color 0.3s ease-in-out;
}

.login-button:hover{
	border: none;
	background-color: #2974ab;
	color: #fff;
}

.status .badge {
	text-transform: capitalize;
}

.ajax-loading {
	background: black !important;
}

/*.widget-area {
	margin-top: 15px;
}*/

.widget{
	margin: 4px 0px;
	border-radius: 3px;
}

.widget tbody{
	padding: 5px;

}

.widget td{
	padding: 10px;
	border-bottom: 1px dashed #cdcdcd;
}

.widget-area h3 {
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 19px;
	font-weight: bold;
}

.widget-area > div {
	border: 1px dashed #cdcdcd;
	padding: 15px;
	min-height: 300px;
}

.draggable-widget {
	background: whitesmoke;
	padding: 14px;
	border-radius: 3px;
	box-shadow: -1px 1px 8px 0px #a7a7a7;
	cursor: grab;
	margin-bottom: 15px;
}

.draggable-widget h5 {
	font-size: 14px;
	margin-bottom: 0;
}

.widget-area .ui-droppable-hover {
	background: #f8f8f8;
}

.leave-counter ul {
	list-style: square;
	padding-left: 15px;
	font-size: 13px;
	font-weight: 200;
}

.leave-counter ul li {
	border-bottom: 1px dashed #d2d2d2;
	padding: 5px 0;
}

.leave-counter ul li span {
	font-weight: bold;
}

/*upcoming event day color */
.today, .tommorrow{
	font-size: 10px;
	font-weight: 400;
	padding: 4px 5px;
	border-radius: 6px;
}
.today{
	color: #fff;
	background-color: #198754;
}

.tommorrow{
	color: #fff;
	background-color: #0d6efd;
}
.date{
	color: #a8a807;
}

/*badge*/
.badge{
	color: #fff;
	font-size: 10px;
	font-weight: 400;
	padding: 4px 5px;
	border-radius: 6px;
	background-color: #198754;
}

/* Widgets Lists */

.widget-lists-wrapper .name {
	text-transform: capitalize;
}



.collapsible {
	display: none;
/*	display: block; */
overflow: hidden auto; 
padding: 2px;
}

#submit-btn {
	display: flex;
	justify-content: end;
	align-items: end;
}

.btn-delete {
	color: #dc3545;
	background-color: transparent;
}

.btn-edit {
	color: #198754;
	background-color: transparent;
}

.btn-edit,
.btn-delete {
	border: none;
	transition: background-color 0.3s ease-in-out;
}

.button {
	margin-bottom: 16px;
	padding: 4px 12px !important;
}

.button,
.approved-btn,
.rejected-btn {
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 0.3s ease-in-out;
}

.button,
.approved-btn {
	border: 1px solid #198754;
	color: #198754;
}

.rejected-btn {
	border: 1px solid #dc3545;
	color: #dc3545;
}

.button:hover {
	background-color: #198754;
	color: #fff;
}

.approved-btn:hover {
	background-color: #198754;
	color: #fff;
}

.rejected-btn:hover {
	background-color: #dc3545;
	color: #fff;
}

.switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 20px;
}

/*Slider for the actions that act as activate and deactivate*/
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider.round {
	border-radius: 20px;
}

.slider:before {
	position: absolute;
	content: '';
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background-color: white;
	transition: 0.4s;
	left: 4px;
	bottom: 3px;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:checked + .slider:before {
	transform: translateX(14px);
}

.navbar{
	margin-top: 16px ;
	margin-bottom: 16px;
	padding: 8px;
	display: flex;
	justify-content: space-between;
}

/*Sidebar Design*/
.sidebar {
	margin-top: 16px ;
	margin-bottom: 16px;
	width: 177px;
	padding: 8px;
	background: #f0f0f0;
	border-radius: 5px;
	box-shadow: 1px 1px 8px 0px #a7a7a7;

}
.col-10{
	width: 82%;
	margin-top: 30px;
	margin-bottom: 16px;
	padding: 20px;
	background: #f0f0f0;
	border-radius: 5px;
	box-shadow: 1px 1px 8px 0px #a7a7a7;
}

.table th{
	padding: 10px 32px;
}

.table td{
	padding: 10px 32px;
}

.footer{
	display: block;
}

.footer-container{
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
	padding-top: 32px;
	padding-bottom: 32px;
	text-align: center;
	border-top: 1px solid #dee2e6;
	transform: translateX(-50%) !important;
	left: 50%;
	position: absolute !important;
}

.nav-pills .nav-link {
	color:#000;
	border-radius: 0;
	padding: 5px 10px;
}

.nav-pills .nav-link.active {
	background-color: #108201;
	color: #fff;
	border-radius: 5px;
}

.nav-pills .nav-link:not(.active):hover {
	background-color: #fff;
}

.nav-list{
/*	padding: 6px;*/
transition: all 0.3s ease;

}
.nav-list:hover{
	padding: 6px;
	border-radius: 5px;
	background-color: white;
	text-decoration: none;
}

.nav-list.logout{
	color:red;
}

.nav-list.logout:hover{
	color: red;
}

.drop{
	width: 170px;
	padding: 15px;
	background: #f0f0f0;
	border-radius: 5px;
	box-shadow: 1px 1px 8px 0px #a7a7a7;
}

.logout{
	color: red;
	font-size: 12px;
	border:none;

}
.profile{
	color: #000;
	font-size: 12px;
	border:none;

}



/*table design*/
.table {
	margin:0;
	box-shadow: 1px 1px 8px 0px #a7a7a7;
}


.select {
	word-wrap: normal;
	border: 1px solid #a7a7a7;
	border-radius: 5px;
	background-color: #eeeeee;
	padding: 4px;
	margin-right: 8px;
}

/*setting view form*/
.form-content input,textarea{
	margin-top: 10px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
}

.option{
	display: flex;
	justify-content: space-between;
}


.input{
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	appearance: none;
	background-color: var(--bs-body-bg);
	background-clip: padding-box;
	border: 1px solid #dee2e6;
	border-radius: .375rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.color-input{
	width: 10%;
	border: 1px solid #dee2e6;
}

/*Design for actions column*/
a{
	text-decoration: none;
	color: #000;
}

.actions{
	margin-right: 5px;
}


/*information details view*/

p{
	font-weight: 300;
}

/*pagination design */

.pagination-container {
	text-align: center;
	margin-top: 16px;
}

.pagination-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-flex;
}

.pagination-item {
	margin: 0 5px;
}

.pagination-item a {
	text-decoration: none;
	padding: 5px 10px;
	border: 1px solid #ccc;
	color: #000;
	border-radius: 3px;
	transition: background 0.3s;
}

.pagination-item a:hover {
	background: #f0f0f0;
}

.pagination-item.active a {
	background: #108201;
	color: #fff;
}

.pagination-item.disabled  {
	color: #999;
	background-color: #ddd;
/*    cursor: not-allowed;*/
}
.pagination-item.disabled a {
	pointer-events: none; 
}

.pagination-item.disabled a:hover {
	background: transparent;
}

.pagination-link {
	display: inline-block;
}

.card-details{
	width: 100%;
	font-size: 12px;
	padding: 24px ;
	border-radius: 5px;
	box-shadow: 1px 1px 8px 0px #a7a7a7;
}

.card-title{
	margin-bottom: 20px;
}

.info{
	display: flex;
	gap: 8px;
	line-height: 1px;
	font-size:12px;
}

.fa{
	margin-right: 10px;
}

.nav-link{
	color: #fff;
}

.error-container{
	margin: 16px 0px;
	text-align: center;
}

.file-list{
	left: 0;
}
.file-list ul {
	list-style: none;
	display: flex;
	gap: 20px;
}
.file-list li {
	border-radius: 5px;
	box-shadow: 1px 1px 8px 0px #a7a7a7;
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.5s ease-in-out;
}

.file-list li:hover {
	transform: scale(1.1); 
	border: none;
}

.file-list li img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	transition: transform 0.2s ease-in-out;
}


.poster img {
	width: 400px;
	border-radius: 5px;
	box-shadow: 1px 1px 8px 0px #a7a7a7;
}
.poster form{
	
}

.trigger-file{
	margin-bottom: 20px;
    text-align: center;
}

.custom-file-upload {
	padding: 10px 15px;
	background-color: #198754;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

/* Hide the original file input */
#file_to_upload {
	display: none;
}